<h3><%= @drink.drink_name %></h3>
<p>drink id: <%= @drink.id %></p>
<div>Ingredients:
<% @drink.measurements.each do |m| %>
<li><%= m.ingredient.name %> <%= m.measure %> ||id: <%= m.id %></li>
<%end%>
</div>
<br>
<%= link_to "Edit Drink", edit_drink_path(@drink) %>