<div class="container" id="drink_page">

<p id="flash"><%= flash[:message] %></p>

<h3><%= @drink.drink_name %></h3>
<div style="text-align: center;">
<small><i>Last updated on: <%= @drink.updated_at.strftime("%B %d, %Y") %></i></small>
<img src="<%= @drink.drink_thumb %>" alt="drink image" width="40%">
<br>

<b>Category:</b>
<%= @drink.category %>
<br><br>

<b>Alcoholic:</b>
<%= @drink.alcoholic %>
<br><br>

<b>Main ingredients & Measurements: </b><br>
<p><% @drink.measurements.each do |m| %>
<%= link_to m.ingredient.name, ingredient_path(m.ingredient_id) %> - <%= m.measure %> ||
<%end%></p>
<%= link_to "Add Ingredient Measurement", new_drink_measurement_path(@drink), class: 'btn btn-info btn-sm' %>
<br><br>

<b>Recipe Instruction:</b>
<p><%= @drink.drink_recipe %></p>
<br>
<button type="button", class="btn btn-info btn-sm"><%= link_to "Edit Drink", edit_drink_path(@drink), class: 'btn btn-info btn-sm' %></button>
<button type="button", class="btn btn-info btn-sm"><%= button_to "Delete Drink", @drink, method: :delete, data: { confirm: "Do you really want to delete this item?" }, class: 'btn btn-info btn-sm' %></button>
<br><br>
</div>
</div>