<div class="container">

  <h3>Welcome, <%= @user.username %></h3>

  <p id="flash"><%= flash[:message] %></p>

  <% if @user.id == current_user.id %>

  <h3>My Drinks</h3>
  <div>
   <% @user.drinks.each do |d| %>
    <li class="list-group-item list-group-item-info">
    <img src="<%= d.drink_thumb %>" class="rounded float-right" width="50px" style="float:right;">
     <b><%= link_to d.drink_name, drink_path(d) %></b><br>
     <small><%= d.alcoholic %></small>
    </li><br>
    <%end%> 
  </div>  
  <hr>

  <h3>My Reviews</h3>
  <div>
  <% @user.reviews.each do |r| %>
   <li class="list-group-item list-group-item-info">
   <img src="<%= r.ingredient.image %>" class="rounded float-right" width="60px" style="float:right;">
    <b class="badge badge-pill badge-info">Review on</b> - <b><%= link_to r.ingredient.name, ingredient_path(r.ingredient) %></b><br>
    <%= r.rating %><br>
    <%= r.content if r.content %>
   </li><br>
   <%end%> 
 </div>  

  <%end%>  
</div>