<div class="container">

<h3>View Ingredients</h3>

<%= form_with url: ingredients_path, method: :get do |f| %>
    <%= f.label "Search Ingredient" %> 
    <%= f.text_field :name %>
    <%= f.submit "Search" %>
<%end%>
<br>
<%= render partial: "ingredients", locals: { ingredients: @ingredients } %>

</div>