<div class="container", style="text-align: center;">

<p id="flash"><%= flash[:message] %></p>

  <h3><%= @ingredient.name %></h3>
  <p><i>Last updated on: <%= @ingredient.updated_at.strftime("%B %d, %Y") %></i></p>
  <img src="<%= @ingredient.image %>" alt="ingredient image" width="20%">  
  <p><b>Alcohol: <%= @ingredient.alcohol %></b></p>
  <p><%= @ingredient.description %></p>

  <h5>Related Drinks</h5>
  <%= render partial: "drinks/drinks", locals: {drinks: @ingredient.drinks} %>


  <h5>Latest User Review</h5>
  <%= render partial: "reviews/reviews", locals: { reviews: @ingredient.reviews } %>
  <button type="button", class="btn btn-info btn-sm"><%= link_to "Add a Review", new_ingredient_review_path(@ingredient), class: "btn btn-info btn-sm" %></button>
  <button type="button", class="btn btn-info btn-sm"><%= link_to "All Reviews", ingredient_reviews_path(@ingredient), class: "btn btn-info btn-sm" %></button>
  <br><br>
  </div>




