<div class="container">

<p id="flash"><%= flash[:message] %></p>

  <h3><%= @ingredient.name %></h3><br>
  <div style="text-align: center;">
<p><i>Last updated on: <%= @ingredient.updated_at.strftime("%B %d, %Y") %></i></p>

  <img src="<%= @ingredient.image %>" alt="ingredient image" width="30%">
  
  <h5>Alcohol: <%= @ingredient.alcohol %></h5>
  
  <br><br>
  
  <p><%= @ingredient.description %></p>
  </div>
  <br><br>
   
<%= render partial: "drinks/drinks", locals: {drinks: @ingredient.drinks} %>

<%= link_to "Add a Review", new_ingredient_review_path(@ingredient) %>

</div>
