<h3>Create a New Measurement</h3>

<%= render partial: "application/errors", locals: {errors: @measurement.errors.full_messages } %>

<%= form_for @measurement do |f| %>
    <%= f.label :measurement %>
    <%= f.text_field :measure %>
    <br>
    <%= f.label "Select an Drink" %>
    <%= f.collection_select :drink_id, Drink.all, :id, :drink_name, prompt: "Please select" %>
    <br>
    <%= f.label "Select an Ingredient" %>
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, prompt: "Please select" %>
    <br><br>
    <%= f.submit %>
<%end%>    