<div class="container">
<h3>Add a Review</h3>

<%= render partial: "application/errors", locals: { errors: @review.errors.full_messages } %>
  <div class="form">
    <%= form_for(@review, url: form_url_helper(@ingredient)) do |f| %>
      <% if !@ingredient %> 
        <%= f.label "Select an Ingredient to review" %>  
        <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, prompt: true %>
      <%end%>  <br>  
      <%= f.label :rating %>
      <%= f.select :rating, ["⭐⭐⭐⭐⭐", "⭐⭐⭐⭐", "⭐⭐⭐", "⭐⭐", "⭐"], prompt: true %>
      <br>
      <%= f.label "Review (optional)" %>
      <%= f.text_field :content, class:"form-control" %>
      <br>
      <%= f.submit %>
    <%end%>
  </div>  
</div>