<div class="container">

<p id="flash"><%= flash[:message] %></p>

  <small><b><%= @review.user.username %></b></small> 
  <br>
  <%= @review.rating %> 
  <br>
  <%= @review.content %>
  <br>
  <p><small>Reviewed on: <%= @review.updated_at.strftime("%B %d, %Y") %></small></p>
  <%= link_to "Return #{@ingredient.name}", ingredient_path(@ingredient), class: "btn btn-info btn-sm" %>
</div>